.theme-red .navbar {
  background-color: #04B486; 
  color: #04B486;
}

.theme-red .navbar-brand {
  color: #2E2E2E; }
  .theme-red .navbar-brand:hover {
    color: transparent; }
  .theme-red .navbar-brand:active {
    color: #2E2E2E; }
  .theme-red .navbar-brand:focus {
    color: #2E2E2E; }

.theme-red .nav > li > a {
  color: #2E2E2E; }
  .theme-red .nav > li > a:hover {
    background-color: transparent; }
  .theme-red .nav > li > a:focus {
    background-color: #2E2E2E; }

.theme-red .nav .open > a {
  background-color: #2E2E2E; }
  .theme-red .nav .open > a:hover {
    background-color: #2E2E2E; }
  .theme-red .nav .open > a:focus {
    background-color: #2E2E2E; }

.theme-red .bars {
  color: #04B486; }

.theme-red .sidebar .menu .list li.active {
  background-color: #6E6E6E; color: #04B486 }
  .theme-red .sidebar .menu .list li.active > :first-child i, .theme-red .sidebar .menu .list li.active > :first-child span {
    color: #04B486; }

.theme-red .sidebar .menu .list .toggled {
  color: #04B486;
  color: #04B486 !important;
  background-color: #2E2E2E; }

.theme-red .sidebar .menu .list .ml-menu {
  color: #04B486;
  color: #04B486 !important;
  background-color: #2E2E2E; }

.theme-red .sidebar .legal {
  color: #04B486;
  color: #04B486 !important;
  background-color: #04B486; }
  .theme-red .sidebar .legal .copyright a {
    color: #04B486;
    color: #04B486 !important; }
