{% load staticfiles %}

{% block body %}
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="{% static 'l.css' %}" rel="stylesheet">
<script src="{% static 'l.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script></head>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-7">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>Create a New Account</h3>
					{% if error_message %}
						<p><strong>{{ error_message }}</strong></p>
					{% endif %}
						<div class="login-page">

					<form class="login-form" action="" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{% include 'login/form-template.html' %}
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-success">Login</button>
								<p class="message">Not registered? <a href="#">Create an account</a></p>
							</div>
						</div>

					</form>
							</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


