{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>Home | Dyspodium</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/all-themes.css' %}" rel="stylesheet">
    
</head>
<body class="theme-red" style="background-color:#2E2E2E;">

    <div class="overlay"></div>
   <nav class="navbar" style="background-color:#04B486; color:#2E2E2E;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html"><b>DYSPODIUM</b></a>
            </div>
            <form class="navbar-form navbar-left" action="#" method="get" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q" value="">
                        <div class="input-group-btn">
                            <button class="btn btn-default glyphicon glyphicon-search" type="submit"></button>
                        </div>
                </div>
            </form>
            <div class="collapse navbar-collapse" id="navbar-collapse" style="background-color:#04B486; color:#2E2E2E;" >

                <ul class="nav navbar-nav navbar-right">
                   
                    <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Question</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="/account/login">Login/Signup
                        </a>
                    </li>
                    </ul>
            </div>
        </div>
    </nav>
    <section class="content" style="background-color:#2E2E2E; color:#04B486;">
        <div class="container-fluid">
            <div class="block-header">
                <h3><font size="6">About</font></h3>
            </div>
            <div class="container-fluid">
                     <div class="card" style="background-color:#424242; color:#04B486;">
                        <div><h5><font size="4">A question-and-answer site where questions are asked and answered by the users taking part in the discussion.<br>The website would provide a platform to its users to raise their questions on various topics and answer them and get a customized feed according to their fields of interest along with that. It will also allow them to prioritise their questions according to the urgency level so as to improve the efficacy of the site.</font></h5>
                        </div>
                        </div>  <br><br>
                    <div class="card" style="background-color:#424242; color:#04B486;">
                        <div><h5><font size="4">The sole purpose of the website is to connect users and give them others’ perspective through a question and answer manner. This will not only share and grow the world’s knowledge and vision but also help them tackle day to day problems by asking any doubts or questions in mind. The users will also be provided with a customized feed based on their fields of interest as well as their activity log on the website. In addition to the basic feature, there would be an option with the users to mark their question as urgent, which would help them get their answers faster as the question would be prioritised into others’ feeds. All the answers to a particular question would be sorted on the basis of the number of views and upvotes the answer has received.</font></h5>
                        </div>
                        </div>  
                    </div>
                    </div>
        </section>     
        </body>
</html>
