{% load staticfiles %}

<html>
<head>
	<link rel="stylesheet" href="% static 'lc.css' %}">
<script type="text/javascript" src="% static 'lj.js' %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Login</title>
</head>
<body>
	<h1>Logged Out!</h1> 
	<p>You have logeed out.</p>
	<p>Not Registered?</p>
	<button><a href="/account/register/">Register</a></button>
</body>
</html>