{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Profile</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link href= "{% static 'bootstrap/css/bootstrap.css' %}"" rel="stylesheet">
    <link href="{% static 'css/all-themes.css' %}" rel="stylesheet" />
</head>
<body class="theme-red" style="background-color:#2E2E2E;">
 <div class="overlay"></div>
   <nav class="navbar" style="background-color:#04B486; color:#2E2E2E;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html"><b>DYSPODIUM</b></a>
            </div>
            <form class="navbar-form navbar-left" action="#" method="get" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q" value="">
                        <div class="input-group-btn">
                            <button class="btn btn-default glyphicon glyphicon-search" type="submit"></button>
                        </div>
                </div>
            </form>
            <div class="collapse navbar-collapse" id="navbar-collapse" style="background-color:#04B486; color:#2E2E2E;" >

                <ul class="nav navbar-nav navbar-right">
                   
                    <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Question</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-bell" aria-hidden="true"></span></span>
                        </a>
                    </li>
                   
                    
                    <li class="">
                        <a href="settings.html">
                            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></span>
                        </a>
                    </li>
                    
        <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        </a>
                    </li>
        <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></span>
                        </a>
                    </li>
                    </ul>
            </div>
        </div>
    </nav>
    <div class="overlay"></div>
   <nav class="navbar" style="background-color:#04B486; color:#2E2E2E;">
        <div class="container-fluid">
            <div class="navbar-header">
                
				<div class="col-md-3 image">
										
                                        <img src="{% static 'images/user.png' %}" width="700" height="1000" alt="User" class="img-circle img-responsive" hspace = "" />
                                        <div>
										<b>{{user.first_name}} {{user.last_name}}<br> ({{user}})<br> {{user.email}}</b>
										
            </div>
            
                        </div>
                </div>
            <div class="collapse navbar-collapse" id="navbar-collapse" style="background-color:#04B486; color:#2E2E2E;" >

                    
    
            </div>
        </div>
    </nav>
	<nav class="navbar" style="background-color:#04B486; color:#2E2E2E;">
		<ul class="nav navbar-nav navbar-left">
                   
                    <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>ANSWERS</span>
                        </a>
                    </li>
		</ul>
		<ul class="nav navbar-nav navbar-middle">
                   
                    <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>QUESTIONS</span>
                        </a>
                    </li>
		</ul>
		<ul class="nav navbar-nav navbar-left">
                   
                    <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>INTEREST</span>
                        </a>
                    </li>
		</ul>
	</nav>
   

    <section class="content" style="background-color:#2E2E2E; color:#04B486;">
     <section class="content" style="background-color:#2E2E2E; color:#04B486;">
        <div class="container-fluid">
            <div class="block-header">
                <h6></h6>
            </div>
            <div class="row clearfix" >
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card" style="background-color:#424242; color:#04B486;">
                        <div class="header" style="background-color:##424242; color:#04B486;">

                            <div class="row clearfix">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="user-info">
                                       

                                         <div class="info-container" style="background-color:#424242; color:#04B486;">
                                            <div class="name row clearfixl" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" align = "right" height = "1000"><h5> {{user.bio}} </h5></div>
                                        </div>
                                        </div>
                                            <div class="col-xs-12 col-sm-6 align-right" >
                                                <div class="switch panel-switch-btn">  
                                                </div>
                                                </div>
                                            </div>

                                    
                                           
                                    <div class="col-xs-12 col-sm-6">
                                   
                                            <div class="col-xs-12 col-sm-6 align-right" >
                                                <div class="switch panel-switch-btn">  
                                                </div>
                                                </div>
                                            </div>

                                   
                                   </div>
                                </div>
                                </div>
             

</div>
</div>
</div>
</div>
</section>     
</body>
</html>
