.theme-red .navbar {
  background-color: #04B486; 
  color: #04B486;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 20px;
}

.theme-red .navbar-brand {
  color: #2E2E2E; }
  .theme-red .navbar-brand:hover {
    
    background-color:transparent; color: #2E2E2E; font-size: 20px;}
  .theme-red .navbar-brand:active {
    
    color: transparent; font-size: 20px;}
  .theme-red .navbar-brand:focus {
    
    color: #2E2E2E; font-size: 20px;}

.theme-red .nav > li > a {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #2E2E2E; font-size: 20px;}
  .theme-red .nav > li > a:hover {
    background-color:transparent; color: #2E2E2E; font-size: 20px;}
  .theme-red .nav > li > a:focus {
    background-color: transparent; font-size: 20px;font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;}

.theme-red .nav .open > a {
  background-color: transparent; font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;}
  .theme-red .nav .open > a:hover {f
    background-color:transparent; color: #2E2E2E;font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;}
  .theme-red .nav .open > a:focus {
    background-color: transparent; font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif; }

.theme-red .bars {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #04B486; }

.theme-red .sidebar .menu .list li.active {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  background-color: #6E6E6E; color: #04B486 }
  .theme-red .sidebar .menu .list li.active > :first-child i, .theme-red .sidebar .menu .list li.active > :first-child span {
    color: #04B486; font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;}

.theme-red .sidebar .menu .list .toggled {
  color: #04B486;
  color: #04B486 !important;
  background-color: #2E2E2E; 
font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;}

.theme-red .sidebar .menu .list .ml-menu {
  color: #04B486;
  color: #04B486 !important;
  background-color: #2E2E2E; 
font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;}

.theme-red .sidebar .legal {
  color: #04B486;
  color: #04B486 !important;
  background-color: #04B486; 
font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;}

  .theme-red .sidebar .legal .copyright a {
    color: #04B486;
    color: #04B486 !important; 
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;}

.theme-red {
  font-size: 20px;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;}

  

