{% load staticfiles %}

{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>Home | Dyspodium</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/all-themes.css' %}" rel="stylesheet" />
</head>
<body class="theme-red" style="background-color:#2E2E2E;">

    <div class="overlay"></div>
   <nav class="navbar" style="background-color:#04B486; color:#2E2E2E;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html"><b>DYSPODIUM</b></a>
            </div>
            <form class="navbar-form navbar-left" action="#" method="get" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q" value="">
                        <div class="input-group-btn">
                            <button class="btn btn-default glyphicon glyphicon-search" type="submit"></button>
                        </div>
                </div>
            </form>
            <div class="collapse navbar-collapse" id="navbar-collapse" style="background-color:#04B486; color:#2E2E2E;" >

                <ul class="nav navbar-nav navbar-right">
                   
                    <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Question</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-bell" aria-hidden="true"></span></span>
                        </a>
                    </li>
                   
                    
                    <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></span>
                        </a>
                    </li>
                    
    
        <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        </a>
                    </li>
        <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></span>
                        </a>
                    </li>

           
                    </ul>
            </div>
        </div>
    </nav>
    <section class="content" style="background-color:#2E2E2E; color:#04B486;">
        <div class="container-fluid">
            <div class="block-header">
                <h3>User Feed</h3>
            </div>
            <div class="row clearfix" >
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card" style="background-color:#424242; color:#04B486;">
                        
                        <div class="header" style="background-color:##424242; color:#04B486;">

                            <div class="row clearfix">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="user-info">
                                        <div class="col-md-3 image">
                                        <img src="{% static 'images/user.png' %}" width="40" height="40" alt="User" class="img-circle img-responsive" />
                                        <div>
                                   </div> 
                                 </div>
                                    
                                        <div class="info-container">
                                    <div class="name row clearfixl" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:red"><h5> {{ q.creator }} :</h5><h5> {{q.question}} </h5></div>
                                    
                                </div>
                                        </div>
                                            <div class="col-xs-12 col-sm-6 align-right" >
                                                <div class="switch panel-switch-btn">  
                                                </div>
                                                </div>
                                            </div>

                                    <div align="right"><h6>Report</h6></div>
                                           <div align="right"><h6>Date</h6></div>
                                    
                                </div>
                                </div>
                                {% for i in q.answer_set.all %}
                                <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="card">


                        <div class="header">

                            <div class="row clearfix">
                              
                                <div class="col-xs-12 col-sm-6">
                                
                                    <div class="user-info">

                                        <div class="col-md-3 image">
                                
                                        <img src="{% static 'images/user.png' %}" width="48" height="48" alt="User" class="img-circle img-responsive" />
                                        
                                 </div>

                                 <div class="info-container">

                <div class="name row clearfixl" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><h5> {{ i.user }} :</h5></div>
                <div><h5> {{i.answer}} </h5></div>
                                    
                                </div>
                            
                            </div>
            
                                <div class="col-xs-12 col-sm-6 align-right">

                                    <div class="switch panel-switch-btn">
                                        
                                    </div>
                                </div>
                            </div>
                            <div align="right"><h6>Report</h6></div>
                                           <div align="right"><h6>Date</h6></div>
            {% endfor %}
             
                    </div>
                    </div>
                    </div>
        </section>     
        </body>
</html>





